
/* body */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    outline-style: none;
}

/* navbar */

.nav-top{
    margin: 0px;
    background-color: white;
    width: 100%;
    padding: 2px 80px 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px 1px rgb(104, 201, 233);

}

/* navbar-top */

header .logo{
    width: 80px;
}
.top-items ul{
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-items ul li{
    list-style: none;
    margin-left: 20px;
}
.top-items ul li a{
    font-size: 18px;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: black;
}
.btn-r, .publish-btn{
    padding: 6px 40px;
    background: #2bb4d4;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btn-r:hover, .search-ride-btn:hover ,.publish:hover{
    /* border: 1px  solid black; */
    background: dodgerblue;
    color: #ffff;
}
.input-nav-location{
    display: inline-block;
    padding: 2px 18px;
    border: 1px solid;
    margin-left: 40px;
    border-radius: 30px;
    width: 300pxs;
}
.input-nav-location input{
    border: none;
    padding-left: 15px;
    outline: none;
    width: 82%;
}

/* navbar-bottom */

.bottom-nav{
    padding-left: 70px;
}
.bottom-nav li{
    list-style: none;
    float: left;
    padding: 13px 30px;
}
.bottom-nav li a{
    text-decoration: none;
    font-weight: 200;
}
.item{
    color: black;
}

.bottom-nav > li a:hover {
    color: white;
    cursor: pointer;
}
.active a{
    color: white;
    
}
.active{
    background: rgb(101, 215, 235);
}



/* title */
.title-img{
    width: 100%;
}







/* title-section Commited-by: Sanjyot*/
#title-section {
    background-image: linear-gradient(to bottom, rgb(101, 215, 235), white);
}

#user-input {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.input-group-text {
    background-color: #2bb4d4;
    color: white;
}

#search-ride-btn, .btn {
    width: 100%;
    background: #2bb4d4;
    color: white;
    border: none;
}

#search-ride-btn:hover {
    background: #38c8e9;
}

.form-label {
    color: rgb(2, 91, 180);
    font-weight: bold;
}





/* features */

#features{
    padding: 5% 5%;
    background-color: white;
    z-index: 1;
    position: relative;
    padding-bottom: 10px;

}

h3{
    font-weight: bolder;
    color: #2e2e2e;
    padding-bottom: 40px;
}

.discription{
    text-align: left;
    padding: 5%;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 15px;
}

.icon{
    color: black;
    margin-bottom: 1rem;
}
.icon:hover{
    color: grey;
}

.icon_div {
    text-align: center;
}

.verification-icon{
    width: 60px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.direction-icon{
    width: 55px;
    padding-bottom: 10px;
    padding-top: 0px;
}

/* publish-ride */

hr{
    margin: auto;
    border: solid black 2px;
    border-bottom: none;
    width: 50%   
}

#publish_ride {
    margin: 0px;
    background-image: linear-gradient(to bottom, white,rgb(180, 219, 220,1));
}

.publish-ride-img{
    width: 90%;
}

.publish-div1 ,.publish-div2, .publish-discription{
    margin: 0px;
    padding: 0px;
}

.publish-discription{
    padding-top: 20%;
    padding-left: 10%;
    width: 65%;
    text-align: left;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 15px;

}

.publish-img-div{
    padding-left: 60px;
}
