/* body */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgb(180, 219, 220,1);
}

/* navbar */

#header-nav{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar{
    background: white;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    box-shadow: 0 0 7px 1px rgb(0, 0, 0);
    z-index: 1000;
}

.navbar .navbar-brand{

    margin: 0;
    padding: 0;
    padding-left: 80px;
}
.navbar .navbar-brand .logo{
    width: 40%;
}


.navbar .navbar-nav .nav-link{
    color: black;
    font-size: 1.2em;
    font:bold;
    padding: 0px 20px;
}

.navbar .navbar-nav .nav-link:hover{
    color: grey;
}


/* security-list */

#security-list{
    padding: 0;
    margin: 0;
    background: white;
    box-shadow: 0 0 7px 0px rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    padding-top: 10%;
    padding-left: 25px;
    padding-right: 25px;
    /* z-index: -1; */
}


#security-list a{
    text-align: left;
    text-decoration: none;
    color: #303030;
    
}

#security-list a:hover{
    color: black;
    background: beige;
    
}

.list-items{
    padding: 0;
}

.description-sec{
    padding: 6%;
    padding-top: 10%;
}

button{
    padding: 6px 40px;
    background: #2bb4d4;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:hover{
    background: dodgerblue;
    color: #ffff;
}

h4{
    font-size: 2.3rem;
    padding-bottom: 20px;
}
p{
    font-size: 1.2rem;
    padding-bottom: 30px;
}


.online_security_img{
    width: 80%;
}

#active {
    text-decoration: underline;
    color: rgb(21, 168, 188);
    text-underline-offset: 0.5rem;
}
/* 
.trust_img{
    margin-bottom: 3%;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
} */
/* footer */
/* footer {
    padding-top: 5%;
    margin: 0px;
    background-image: linear-gradient(to right,white, rgb(180, 219, 220,1));
    z-index: 10000;

}

.about-left{
    padding-top: 30px;
    padding-left: 150px;
}


.about-right{
    padding-left: 72px;
}

.about-head{
    padding-bottom: 30px;
}

.about-head h1{
    font-weight: bold;
}


.about-details ul{
    padding: 0;
}
.about-details ul li{
    list-style: none;
    padding: 2px 0px;
    margin: 0;
}
.about-details ul li a{
    list-style: none;
    text-decoration: none;
    color: #303030;
    font-size: 1.2rem;
    font-weight: bold;
}

.carpool-img{
    width: 50%;
}

.social-head{
    color: #303030;
    margin-top: 60px;
    padding-left: 20px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 1.3rem;
}

.social-icon{
    margin: 0px 20px;
}

.terms-copyright{
    margin-bottom: 50px;
}

.terms{
    padding-left: 150px;
    padding-top: 30px;
}

.copyright{
    padding-top: 30px;
    padding-left: 76px;
} */
